/* custom styles */
@use "@faz/dv-globals/scss/dv-globals.scss" as *;

.header {
  text-align: center;
  margin-bottom: 20px;
  .headline {
    font-family: $serif;
    font-size: 32px;
    margin-bottom: 5px;
    font-weight: $serif-bold;
    @media only screen and (max-width: $break-sm) {
      font-size: 24px;
    }
  }
  .introtext {
    font-family: $sans;
    font-size: 18px;
    @media only screen and (max-width: $break-sm) {
      font-size: 16px;
    }
  }
}
