/* custom styles */
@use "../dv-globals/dv-globals" as *;

.all-country-groups {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.country-group {
  width: 33%;
  h2 {
    font-family: $sans;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    margin-top: -30px;
    margin-bottom: 30px;
  }

  h3 {
    font-family: $sans;
    text-align: center;
    font-size: 0.9em;
    font-weight: 600;
    margin-top: -80px;
    margin-bottom: 80px;
    padding: 0 20px;

    @media only screen and (max-width: $break-sm) {
      font-size: 0.7em;
      font-weight: 400;
      line-height: 1.1;
      margin-top: -70px;
    }
  }
}
.gender-group {
  width: 50%;
  margin-top: -180px;
  margin-left: -70px;
  h2 {
    font-family: $sans;
    text-align: center;
    font-size: 0.8em;
    font-weight: 600;
    margin-top: -260px;
    @media only screen and (max-width: $break-sm) {
      margin-top: -190px;
      margin-left: 10px;
      line-height: 1em;
    }
  }
}
.gender-group:last-of-type {
  width: 60%;
  margin-top: -200px;
  margin-left: 250px;
  h2 {
    margin-top: -120px;
  }
  @media only screen and (max-width: $break-sm) {
    opacity: 0;
  }
}
.gender-group:first-of-type {
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
  @media only screen and (max-width: $break-sm) {
    margin-top: 60px;
  }

  h2 {
    font-family: $sans;
    text-align: center;
    font-size: 0.95em;
    font-weight: 500;
    margin-top: -10px;
    margin-bottom: 10px;
  }
}
