/* custom styles */
@use "@faz/dv-globals/scss/dv-globals.scss" as *;

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.animated-circle {
  //transition: opacity 0.3s;
  animation: pulse 2s infinite;
  &:hover {
    opacity: 1;
    transition: none;
    animation: none;
    stroke-width: 0.1;
    stroke: grey;
  }
}

.all-country-groups {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.country-group {
  width: 33%;
  h2 {
    font-family: $sans;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    margin-top: -30px;
    margin-bottom: 30px;
  }

  h3 {
    font-family: $sans;
    text-align: center;
    font-size: 0.9em;
    font-weight: 600;
    margin-top: -80px !important;
    margin-bottom: 80px;
    padding: 0 20px;

    @media only screen and (max-width: $break-sm) {
      font-size: 0.7em;
      font-weight: 400;
      line-height: 1.1;
      margin-top: -70px;
    }
  }
}
.gender-group {
  width: 50%;
  margin-top: -180px;
  margin-left: -70px;
  h2 {
    font-family: $sans;
    text-align: center;
    font-size: 0.8em;
    font-weight: 600;
    margin-top: -250px;
    @media only screen and (max-width: $break-sm) {
      margin-top: -190px;
      margin-left: 10px;
      line-height: 1em;
    }
  }
}
.gender-group:last-of-type {
  width: 60%;
  margin-top: -200px;
  margin-left: 250px;
  h2 {
    margin-top: -120px;
  }
  @media only screen and (max-width: $break-sm) {
    opacity: 0;
  }
}
.gender-group:first-of-type {
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
  @media only screen and (max-width: $break-sm) {
    margin-top: 60px;
  }

  h2 {
    font-family: $sans;
    text-align: center;
    font-size: 0.95em;
    font-weight: 500;
    margin-top: -10px;
    margin-bottom: 10px;
  }
}

.timeline {
  width: 100%;
  margin: auto;
  overflow-y: auto;
  scrollbar-width: none;
  height: 600px;
  h2 {
    margin: 5px auto;
    width: 100%;
  }
  svg {
    height: 50px;
  }
}

.timeline-outer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 570px;
  width: 100%;
  position: relative;
  @media only screen and (max-width: $break-sm) {
    height: 450px;
  }
}
.timeline-inner {
  overflow-y: auto;
  scrollbar-width: none;
  margin: auto;
  margin-top: 20px;
  height: 650px;
  width: 100%;
  @media only screen and (max-width: $break-sm) {
    height: 400px;
  }
  h2 {
    margin: 0 auto;
    width: 100%;
    margin-top: -5px;
  }
  svg {
    margin-top: 0;
    height: 50px;
  }
}
.scroll-btn {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 2;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  opacity: 1;
  pointer-events: auto;
  background: none;
  transition: background 0.2s;
  @media only screen and (max-width: $break-sm) {
    height: 70px;
  }
  svg {
    width: 24px;
    height: 24px;
    fill: var(--dv-grey-900);
  }
}

.scroll-btn.up {
  background: linear-gradient(to bottom, var(--dv-white) 60%, transparent 100%);
  top: 0;
  margin-top: -20px;
  @media only screen and (max-width: $break-sm) {
    margin-top: -10px;
  }
}
.scroll-btn.down {
  background: linear-gradient(to top, var(--dv-white) 80%, transparent 100%);
  bottom: 0;
  margin-bottom: -60px;
  @media only screen and (max-width: $break-sm) {
    margin-bottom: -30px;
  }
}
